@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: linear-gradient(115.48deg, #6A41DB 30.51%, rgba(239, 54, 249, 0.48) 91.2%);

}
#container{
    width: 988px;
    height: 752px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 6px 5px 5px #00000040;
    margin: 70px auto;
    background-color: white;
    padding-top: 49px;
}
#container h1{
    font-family: Inria Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center; 
    margin-bottom: 18px;   
}
#input{
    width: 905px;
    height: 40px;
    background: #D9D9D9;
    margin-bottom: 30px
}
#btn{
    width: 200px;height: 40px;
    border-radius: 10px;
    background-color: orangered;
    font-family: Inria Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;  
    margin-bottom: 28px;  
    color: white;
}
#qrcode{
    margin-left: 430px;
    width: 333px;
    height: 331px;
    
}